parameters:
    level: 8

    errorFormat: symplify
    treatPhpDocTypesAsCertain: false

    paths:
        - src
        - tests

    excludePaths:
        - '*/tests/**/Source/*'
        - '*/tests/**/Fixture/*'
        - '*/tests/**/data/*'

    ignoreErrors:

        # php version depends on runtime
        -
            message: '#Comparison operation ">=" between int<(.*?), 80499> and 80000 is always true#'
            path: src/NodeFactory/ArgsNodeFactory.php

        # unclear what to do
        - '#Parameter \#1 \$items of class PhpParser\\Node\\Expr\\Array_ constructor expects array<PhpParser\\Node\\ArrayItem>, array<PhpParser\\Node\\Arg> given#'

        # runs also on older PHP versions, like 7.4+
        -
            message: '#Right side of && is always true#'
            path:  src/NodeFactory/ArgsNodeFactory.php
