parameters:
    level: 6

    paths:
        - src
        - tests

    excludePaths:
        - '*/tests/**/Source/*'
        - '*/tests/**/Fixture/*'
        - '*/tests/**/data/*'

    ignoreErrors:
        - '#Parameter \#1 \$items of class PhpParser\\Node\\Expr\\Array_ constructor expects array<PhpParser\\Node\\Expr\\ArrayItem\|null>, array<PhpParser\\Node\\Arg> given#'
